<p id="notice"><%= notice %></p>

<p>
  <b>Article name:</b>
  <%= @news.article_title %>
</p>

<p>
  <b>Article content:</b>
  <%= @news.article_content %>
</p>

<p>
  <b>Article image:</b>
  <%= @news.article_image %>
</p>


<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>